/* start landing */

.landing {
    background: var(--section-bg-1);
    padding-top: 75px;
    > .container {
        min-height: calc(100vh);
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 991px) {
            flex-direction: column;
            gap: 20px;
            padding: 20px 0px;
            justify-content: space-evenly;
        }

        .left,
        .right {
            flex-basis: 50%;
        }
        .left {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            .box {
                position: relative;
                width: 400px;
                height: 400px;
                background: rgba(0, 0, 0, 0.5);
                overflow: hidden;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                @media (max-width: 767px) {
                    width: 200px;
                    height: 200px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    inset: -10px 140px;
                    background: linear-gradient(315deg, #00ccff, #d400d4);
                    animation: u3animate 4s linear infinite;
                    transition: var(--main-transition);
                    -webkit-transition: var(--main-transition);
                    -moz-transition: var(--main-transition);
                    -ms-transition: var(--main-transition);
                    -o-transition: var(--main-transition);
                    -webkit-animation: u3animate 4s linear infinite;
                    @media (max-width: 767px) {
                        inset: -10px 70px;
                    }
                }
                @keyframes u3animate {
                    0% {
                        transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                        -webkit-transform: rotate(360deg);
                        -moz-transform: rotate(360deg);
                        -ms-transform: rotate(360deg);
                        -o-transform: rotate(360deg);
                    }
                }
                &:hover::before {
                    inset: -20px 0px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    inset: 6px;
                    background: #162052;
                    z-index: 1;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
                .content {
                    position: absolute;
                    inset: 30px;
                    border: 6px solid #070a1c;
                    z-index: 3;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    border-radius: 50%;
                    transition: var(--main-transition);
                    @media (max-width: 991px) {
                        inset: 15px;
                    }
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        pointer-events: none;
                        z-index: 3;
                        transition: var(--main-transition);
                        user-select: none;
                    }
                    h2 {
                        position: relative;
                        font-size: 1.5em;
                        text-align: center;
                        color: var(--font-color-1);
                        font-weight: 600;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        cursor: default;
                        @media (max-width: 767px) {
                            font-size: 1rem;
                        }
                        span {
                            margin-top: 5px;
                            display: block;
                            font-weight: 300;
                            font-size: 0.75em;
                            @media (max-width: 767px) {
                                font-size: 0.5rem;
                            }
                        }
                    }
                    a {
                        cursor: pointer;
                        position: relative;
                        margin-top: 10px;
                        padding: 10px 20px;
                        background: #fff;
                        color: var(--font-color-3);
                        font-weight: 500;
                        font-size: 1.25em;
                        text-transform: uppercase;
                        letter-spacing: 0.05em;
                        transition: var(--main-transition);
                        border-radius: 25px;
                        @media (max-width: 767px) {
                            font-size: 0.75rem;
                            padding: 5px 15px;
                        }
                        &:hover {
                            letter-spacing: 0.2em;
                        }
                    }
                }
                &:hover .content img {
                    opacity: 0;
                }
            }
        }
        .right {
            background: var(--card-bg-3);
            height: 100%;
            padding: 30px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 20px;
            text-transform: capitalize;
            line-height: 1.5;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            @media (max-width: 991px) {
                align-items: center;
                text-align: center;
            }

            h2 {
                font-size: 25px;
                color: var(--font-color-1);
            }
            p {
                color: var(--font-color-2);
            }
            .btn {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                a {
                    cursor: pointer;
                    flex-basis: 45%;
                    text-align: center;
                    color: var(--font-color-1);
                    padding: 15px;
                    border: 1px solid #fff;
                    transition: var(--main-transition);
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    -webkit-transition: var(--main-transition);
                    -moz-transition: var(--main-transition);
                    -ms-transition: var(--main-transition);
                    -o-transition: var(--main-transition);
                    &:nth-child(2) {
                        background-color: #fff;
                        color: #000;
                    }
                    &:nth-child(1):hover {
                        background-color: #fff;
                        color: #000;
                        transform: scale(0.9);
                        -webkit-transform: scale(0.9);
                        -moz-transform: scale(0.9);
                        -ms-transform: scale(0.9);
                        -o-transform: scale(0.9);
                    }
                    &:nth-child(2):hover {
                        background-color: transparent;
                        color: #fff;
                        transform: scale(0.9);
                        -webkit-transform: scale(0.9);
                        -moz-transform: scale(0.9);
                        -ms-transform: scale(0.9);
                        -o-transform: scale(0.9);
                    }
                }
            }
            .social {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                position: relative;
                li {
                    text-align: center;
                    a {
                        cursor: pointer;
                        overflow: hidden;
                        background-color: #313131;
                        color: #b9b9b9;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        width: 50px;
                        height: 50px;
                        font-size: 20px;
                        border: 1px solid rgba(255, 255, 255, 0.4);
                        border-right: 1px solid rgba(255, 255, 255, 0.2);
                        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                        box-shadow: 0 5px 45px rgb(0 0 0 / 10%);
                        backdrop-filter: blur(2px);
                        transition: var(--main-transition);
                        -webkit-transition: var(--main-transition);
                        -moz-transition: var(--main-transition);
                        -ms-transition: var(--main-transition);
                        -o-transition: var(--main-transition);
                        &:hover {
                            transform: translateY(-10px);
                            -webkit-transform: translateY(-10px);
                            -moz-transform: translateY(-10px);
                            -ms-transform: translateY(-10px);
                            -o-transform: translateY(-10px);
                        }
                        &::before {
                            overflow: hidden;
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 50px;
                            height: 100%;
                            background: rgba(255, 255, 255, 0.5);
                            transition: var(--main-transition);
                            transform: skewX(45deg) translateX(150px);
                            -webkit-transform: skewX(45deg) translateX(150px);
                            -moz-transform: skewX(45deg) translateX(150px);
                            -ms-transform: skewX(45deg) translateX(150px);
                            -o-transform: skewX(45deg) translateX(150px);
                            -webkit-transition: var(--main-transition);
                            -moz-transition: var(--main-transition);
                            -ms-transition: var(--main-transition);
                            -o-transition: var(--main-transition);
                        }
                        &:hover::before {
                            transform: skewX(45deg) translateX(-150px);
                            -webkit-transform: skewX(45deg) translateX(-150px);
                            -moz-transform: skewX(45deg) translateX(-150px);
                            -ms-transform: skewX(45deg) translateX(-150px);
                            -o-transform: skewX(45deg) translateX(-150px);
                        }
                        .i {
                            transition: var(--main-transition);
                            -webkit-transition: var(--main-transition);
                            -moz-transition: var(--main-transition);
                            -ms-transition: var(--main-transition);
                            -o-transition: var(--main-transition);
                        }
                        &:hover .i {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.landing + .spikes::before {
    background-image: linear-gradient(135deg, #162052 25%, transparent 25%),
        linear-gradient(225deg, #162052 25%, transparent 25%);
}
